<template>
  <div class="home">
    <div class="grid">
      <div class="module">
        <highcharts :options="agByArtist"></highcharts>
      </div>
      <div class="module">
        <highcharts :options="agByLabel"></highcharts>
      </div>
      <div class="module">
        <highcharts :options="agBySeason"></highcharts>
      </div>
      <div class="module">
        <highcharts :options="agByMonth"></highcharts>
      </div>
      <div class="module">
        <highcharts :options="agByTrack"></highcharts>
      </div>
      <div class="module">
        <highcharts :options="agByEpisode"></highcharts>
      </div>
      <div class="module">
        <highcharts :options="barChartTest"></highcharts>
      </div>
      <div class="module">7</div>
      <div class="module">8</div>
      <div class="module">9</div>
      <div class="module">10</div>
      <div class="module">11</div>
      <div class="module">12</div>
      <div class="module">13</div>
      <div class="module">14</div>
      <div class="module">15</div>
    </div>
    <div>
    </div>
  </div>
</template>

<style lang="scss" scoped>

.grid {
  /* Grid Fallback */
  display: flex;
  flex-wrap: wrap;

  /* Supports Grid */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 1em;
}

.module {
  /* Demo-Specific Styles */
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;

  /* Flex Fallback */
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 300px;
}

/* If Grid is supported, remove the margin we set for the fallback */
@supports (display: grid) {
  .module {
    margin: 0;
  }
}
</style>

<script>
import { setFilter } from '../store/action-types';

export default {
  name: 'home',
  mounted() {
    // console.log('mounted dates', this.$store.getters.dates);
    // console.log('mounted months', this.$store.state.tracks.slice(0, 50));
  },
  computed: {
    stats() {
      return this.$store.getters.stats;
    },
    tracks() {
      return this.$store.state.tracks.slice(0, 10);
    },
    aggregrationTypes() {
      return this.$store.state.aggregrationTypes;
    },
    agByLabel() {
      return this.$store.getters.agByLabel;
    },
    agByEpisode() {
      return this.$store.getters.agByEpisode;
    },
    agBySeason() {
      return this.$store.getters.agBySeason;
    },
    agByTrack() {
      return this.$store.getters.agByTrack;
    },
    agByArtist() {
      return this.$store.getters.agByArtist;
    },
    agByMonth() {
      return this.$store.getters.agByMonth;
    },
    barChartTest() {
      return this.$store.getters.barChartTest;
    },
    selected: {
      get() {
        return this.$store.state.filter.aggregrationBy;
      },
      set(val) {
        this.$store.dispatch(setFilter, val);
      },
    },
  },
  data() {
    return {
      chartOptions: {
        chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: 'pie',
        },
        title: {
          text: 'Browser market shares in January, 2018',
        },
        tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>',
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
              enabled: true,
              format: '<b>{point.name}</b>: {point.percentage:.1f} %',
            },
          },
        },
        series: [],
      },

    };
  },
  methods: {
  },
};
</script>
