<template>
  <div>
    <vue-good-table
      :columns="columns"
      :rows="tracks"
      :max-height="maxHeight"
      :pagination-options="paginationOptions"
    />
  </div>
</template>

<script>
export default {
  name: 'tracks-table',
  computed: {
    tracks() {
      return this.$store.state.tracks;
    },
  },
  data() {
    return {
      maxHeight: '300px',
      paginationOptions: {
        enabled: true,
        mode: 'records',
        perPage: 5,
        position: 'top',
        perPageDropdown: [3, 7, 9],
        dropdownAllowAll: false,
        setCurrentPage: 2,
        nextLabel: 'next',
        prevLabel: 'prev',
        rowsPerPageLabel: 'Rows per page',
        ofLabel: 'of',
        pageLabel: 'page', // for 'pages' mode
        allLabel: 'All',
      },
      columns: [
        {
          label: 'Artist',
          field: 'artist',
          filterable: true,
        },
        {
          label: 'Track',
          field: 'track',
          filterable: true,
        },
        {
          label: 'Label',
          field: 'label',
          filterable: true,
        },
        {
          label: 'Created On',
          field: 'createdAt',
          type: 'date',
          dateInputFormat: 'yyyy-MM-dd',
          dateOutputFormat: 'MMM Do yy',
        },
        {
          label: 'Percent',
          field: 'score',
          type: 'percentage',
        },
      ],
    };
  },
};
</script>
