<template>
  <div id="app">
    <el-container style="height: 500px; border: 1px solid #eee">
  <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
    <el-menu>
      <el-submenu index="1">
        <template slot="title">Noisia Radio Dashboard</template>
          <router-link to="/" >
            Home
          </router-link>
          <router-link to="/episodes" >
            Episodes
          </router-link>
          <router-link to="/plays" >
            Plays
          </router-link>
          <router-link to="/seasons" >
            Seasons
          </router-link>
          <router-link to="/tracks" >
            Tracks
          </router-link>
          <router-link to="/artists" >
            Artists
          </router-link>
          <router-link to="/labels" >
            Labels
          </router-link>

      </el-submenu>
    </el-menu>
  </el-aside>

  <el-container>
    <el-header style="text-align: right; font-size: 12px">
    </el-header>

    <el-main>
      <router-view/>
    </el-main>
  </el-container>
</el-container>
<HistogramSlider
    :width="1200"
    :bar-height="100"
    :data="dates"
    @change="sliderUpdate"
/>
  </div>
</template>

<script>
import HistogramSlider from 'vue-histogram-slider';
import 'vue-histogram-slider/dist/histogram-slider.css';

export default {
  components: {
    HistogramSlider,
  },
  data() {
    return {
      data: [],
    };
  },
  computed: {
    dates() {
      return this.$store.getters.dates;
    },
  },
  methods: {
    sliderUpdate() {
    },
  },
};
</script>
<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
